* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: black;
  color: white;
  padding: 10px
}

div.card {
  width: 900px;
  margin: 10px;
  border: 1px solid gray;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding: 7px;
  border: 1px solid gray;
  border-radius: 10px;

}

div.content {
  width: 800px;
  font-size: 30px;
  color: grey;
  margin: 0 auto;
}

div.content > img {
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 60px;
  color: #000;
}

p:hover {
  color: #000;
}

div.content {
  padding-bottom: 30px;
}

ul.back > li > a {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #000;
  color: #fff;
  border: none;
}

ul.back {
  width: 800px;
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 20px;
  
}